In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv("Billionaires Statistics Dataset.csv")
dataset.set_index('rank', inplace=True)

In [9]:
dataset.head()

,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
rank,,,,,,,,,,,,,,,,,,,,,
1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,LVMH Moët Hennessy Louis Vuitton,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,Amazon,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,Oracle,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [10]:
dataset.shape

(2640, 34)

In [11]:
dataset.dtypes

finalWorth                                      int64
category                                       object
personName                                     object
age                                           float64
country                                        object
city                                           object
source                                         object
industries                                     object
countryOfCitizenship                           object
organization                                   object
selfMade                                         bool
status                                         object
gender                                         object
birthDate                                      object
lastName                                       object
firstName                                      object
title                                          object
date                                           object
state                                          object
residenceStateRegion                           object
birthYear                                     float64
birthMonth                                    float64
birthDay                                      float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                    object
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
life_expectancy_country                       float64
tax_revenue_country_country                   float64
total_tax_rate_country                        float64
population_country                            float64
latitude_country                              float64
longitude_country                             float64
dtype: object

In [14]:
dataset.columns

Index(['finalWorth', 'category', 'personName', 'age', 'country', 'city',
       'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

In [22]:
dataset.nunique()

finalWorth                                     219
category                                        18
personName                                    2638
age                                             79
country                                         78
city                                           741
source                                         906
industries                                      18
countryOfCitizenship                            77
organization                                   294
selfMade                                         2
status                                           6
gender                                           2
birthDate                                     2060
lastName                                      1736
firstName                                     1770
title                                           97
date                                             2
state                                           45
residenceStateRegion                             5
birthYear                                       77
birthMonth                                      12
birthDay                                        31
cpi_country                                     63
cpi_change_country                              44
gdp_country                                     68
gross_tertiary_education_enrollment             63
gross_primary_education_enrollment_country      60
life_expectancy_country                         54
tax_revenue_country_country                     57
total_tax_rate_country                          63
population_country                              68
latitude_country                                68
longitude_country                               68
dtype: int64

In [25]:
by_country = dataset.groupby('country')['finalWorth'].sum()
by_country.sort_values(ascending=False)

country
United States    4575100
China            1805500
India             628700
France            499500
Germany           462100
                  ...
Uruguay             1800
Tanzania            1500
Andorra             1500
Bahrain             1500
Armenia             1200
Name: finalWorth, Length: 78, dtype: int64

In [31]:
self_made_by_gender = dataset[dataset['selfMade']==True].groupby('gender').size()
self_made_by_gender

gender
F      96
M    1716
dtype: int64

In [36]:
n = dataset.groupby('gender')['selfMade'].size()
n

gender
F     337
M    2303
Name: selfMade, dtype: int64

In [37]:
result = dataset.groupby(['gender', 'selfMade']).size().unstack(fill_value=0)

result['Total'] = result.sum(axis=1)

result

selfMade  False  True  Total
gender
F           241    96    337
M           587  1716   2303